PORT=9999

#[API]
JWT_SECRET=secret

#POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=expedients

#AWS
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_PUBLIC_KEY=
AWS_SECRECT_KEY=

#[CLIENT]
VITE_API_URL=http://localhost:${PORT}/api
