@import 'antd/dist/reset.css';
@import './spacing';
@import './flex';

@import './login-view';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #007bff !important;
}

.text-link {
  @extend .text-primary;
  padding: 8px 4px;
  border-radius: 8px;
  margin-bottom: 8px;

  & p {
    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: whitesmoke;
  }
}

.w-100 {
  width: 100%;
}
