@use './_spacing.scss' as *;
@use './_flex.scss' as *;
@use './_login-view.scss' as *;

@use 'antd/dist/reset.css' as *;

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #007bff !important;
}

.text-link {
  @extend .text-primary;
  padding: 8px 4px;
  border-radius: 8px;
  margin-bottom: 8px;

  & p {
    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: whitesmoke;
  }
}

.w-100 {
  width: 100%;
}
