.header-user-info {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
  width: 132px;
  border-radius: 32px;
  padding-right: 8px;
  background-color: var(--ant-color-bg-container);
  line-height: normal;

  &__name {
    margin-inline: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.abc {
  transition: all 1.5s ease-out, background-color 1.5s ease-in;
}